{% load static %}
    	<div class="slideshow slideshow-wrapper pb-section sliderFull">
        	<div class="home-slideshow">
            	<div class="slide">
                	<div class="blur-up lazyload bg-size">
                        <img class="blur-up lazyload bg-img" src="{% static 'images/slideshow-banners/home11-grid-banner1.jpg' %}" alt="Shop Our New Collection" title="Shop Our New Collection" />
                        <div class="slideshow__text-wrap slideshow__overlay classic bottom">
                            <div class="slideshow__text-content bottom">
                                <div class="wrap-caption center">
                                        <h2 class="h1 mega-title slideshow__title">" Discover hidden treasures at our thrift store!"</h2>
                                        <span class="mega-subtitle slideshow__subtitle">Score stylish dresses at unbeatable prices in our thrift store! </span>
                                        <span class="btn">Shop now</span>
                                    </div>
                            </div>
                        </div>
                    </div>
                </div>

               <div class="slide">
                	<div class="blur-up lazyload bg-size">
                        <img class="blur-up lazyload bg-img" src="{% static 'images/slideshow-banners/banner2.jpg' %}" alt="Shop Our New Collection" title="Shop Our New Collection" />
                        <div class="slideshow__text-wrap slideshow__overlay classic bottom">
                            <div class="slideshow__text-content bottom">
                                <div class="wrap-caption center">
                                        <h2 class="h1 mega-title slideshow__title">"Hot Savings-sale now on!"</h2>
                                        <span class="mega-subtitle slideshow__subtitle">Grab it before it's gone! Sale extravaganza!</span>
                                        <span class="btn">Shop now</span>
                                </div>
                            </div>
                        </div>
                    </div>
               </div>

                <div class="slide">
                	<div class="blur-up lazyload bg-size">
                        <img class="blur-up lazyload bg-img" src="{% static 'images/slideshow-banners/banner 2.jpg' %}" alt="Style Yourself" title="Upgrade your style without breaking the bank!" />
                        <div class="slideshow__text-wrap slideshow__overlay classic bottom">
                            <div class="slideshow__text-content bottom">
                                <div class="wrap-caption center">
                                    <h2 class="h1 mega-title slideshow__title">From head to toe, find your perfect look for less!</h2>
                                    <span class="mega-subtitle slideshow__subtitle">From Hight to low, classic or modern. We have you covered</span>
                                    <span class="btn">Shop now</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>