{% load static %}
        <div class="section logo-section">
        	<div class="container">
            	<div class="row">
                	<div class="col-12 col-sm-12 col-md-12 col-lg-12">
                		<div class="logo-bar">
                    <div class="logo-bar__item">
                        <img src="{% static 'images/logo/brandlogo1.png' %}" alt="" title="" />
                    </div>
                    <div class="logo-bar__item">
                        <img src="{% static 'images/logo/brandlogo2.png' %}" alt="" title="" />
                    </div>
                    <div class="logo-bar__item">
                        <img src="{% static 'images/logo/brandlogo3.png' %}" alt="" title="" />
                    </div>
                    <div class="logo-bar__item">
                        <img src="{% static 'images/logo/brandlogo4.png' %}" alt="" title="" />
                    </div>
                    <div class="logo-bar__item">
                        <img src="{% static 'images/logo/brandlogo5.png' %}" alt="" title="" />
                    </div>
                    <div class="logo-bar__item">
                        <img src="{% static 'images/logo/brandlogo6.png' %}" alt="" title="" />
                    </div>
                </div>
                	</div>
                </div>
            </div>
        </div>